src/main/resources/wsdl/schemas/FIXML/fixml-fields-impl-5-0.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:fm="http://www.fixprotocol.org/FIXML-5-0/METADATA"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns="http://www.fixprotocol.org/FIXML-5-0"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xsi:schemaLocation="http://www.fixprotocol.org/FIXML-5-0/METADATA fixml-metadata-5-0.xsd"
	 targetNamespace="http://www.fixprotocol.org/FIXML-5-0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
	- - - - - - - - - - - - - - - - - - - - - - - - - -
    Generated 20070103
	- - - - - - - - - - - - - - - - - - - - - - - - - -
	
    FIXML 5.0

    This Schema represents FIXML vocabulary based on version 5.0 of the FIX Protocol

    Comments should be posted on the FIX protocol web-site at www.fixprotocol.org

</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="fixml-fields-base-5-0.xsd"/>
	<xs:simpleType name="OrdType_enum_ext2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrdStatus_enum_ext2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="N/A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettlType_enum_t_ext">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InfoType_enum_t">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="67"/>
			<xs:enumeration value="68"/>
			<xs:enumeration value="69"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="73"/>
			<xs:enumeration value="74"/>
			<xs:enumeration value="75"/>
			<xs:enumeration value="76"/>
			<xs:enumeration value="77"/>
			<xs:enumeration value="78"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="80"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="83"/>
			<xs:enumeration value="84"/>
			<xs:enumeration value="85"/>
			<xs:enumeration value="86"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="88"/>
			<xs:enumeration value="89"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
			<xs:enumeration value="94"/>
			<xs:enumeration value="95"/>
			<xs:enumeration value="96"/>
			<xs:enumeration value="97"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="101"/>
			<xs:enumeration value="102"/>
			<xs:enumeration value="103"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="105"/>
			<xs:enumeration value="106"/>
			<xs:enumeration value="107"/>
			<xs:enumeration value="108"/>
			<xs:enumeration value="109"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="111"/>
			<xs:enumeration value="112"/>
			<xs:enumeration value="113"/>
			<xs:enumeration value="114"/>
			<xs:enumeration value="115"/>
			<xs:enumeration value="116"/>
			<xs:enumeration value="117"/>
			<xs:enumeration value="118"/>
			<xs:enumeration value="119"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="121"/>
			<xs:enumeration value="122"/>
			<xs:enumeration value="123"/>
			<xs:enumeration value="124"/>
			<xs:enumeration value="125"/>
			<xs:enumeration value="126"/>
			<xs:enumeration value="127"/>
			<xs:enumeration value="128"/>
			<xs:enumeration value="129"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="131"/>
			<xs:enumeration value="132"/>
			<xs:enumeration value="133"/>
			<xs:enumeration value="134"/>
			<xs:enumeration value="135"/>
			<xs:enumeration value="136"/>
			<xs:enumeration value="137"/>
			<xs:enumeration value="138"/>
			<xs:enumeration value="139"/>
			<xs:enumeration value="140"/>
			<xs:enumeration value="141"/>
			<xs:enumeration value="142"/>
			<xs:enumeration value="143"/>
			<xs:enumeration value="144"/>
			<xs:enumeration value="145"/>
			<xs:enumeration value="146"/>
			<xs:enumeration value="147"/>
			<xs:enumeration value="148"/>
			<xs:enumeration value="149"/>
			<xs:enumeration value="150"/>
			<xs:enumeration value="151"/>
			<xs:enumeration value="152"/>
			<xs:enumeration value="153"/>
			<xs:enumeration value="154"/>
			<xs:enumeration value="155"/>
			<xs:enumeration value="156"/>
			<xs:enumeration value="157"/>
			<xs:enumeration value="158"/>
			<xs:enumeration value="159"/>
			<xs:enumeration value="160"/>
			<xs:enumeration value="161"/>
			<xs:enumeration value="162"/>
			<xs:enumeration value="163"/>
			<xs:enumeration value="164"/>
			<xs:enumeration value="165"/>
			<xs:enumeration value="166"/>
			<xs:enumeration value="167"/>
			<xs:enumeration value="168"/>
			<xs:enumeration value="169"/>
			<xs:enumeration value="170"/>
			<xs:enumeration value="171"/>
			<xs:enumeration value="172"/>
			<xs:enumeration value="173"/>
			<xs:enumeration value="174"/>
			<xs:enumeration value="175"/>
			<xs:enumeration value="176"/>
			<xs:enumeration value="177"/>
			<xs:enumeration value="178"/>
			<xs:enumeration value="179"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="181"/>
			<xs:enumeration value="182"/>
			<xs:enumeration value="183"/>
			<xs:enumeration value="184"/>
			<xs:enumeration value="185"/>
			<xs:enumeration value="186"/>
			<xs:enumeration value="187"/>
			<xs:enumeration value="188"/>
			<xs:enumeration value="189"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="191"/>
			<xs:enumeration value="192"/>
			<xs:enumeration value="193"/>
			<xs:enumeration value="194"/>
			<xs:enumeration value="195"/>
			<xs:enumeration value="196"/>
			<xs:enumeration value="197"/>
			<xs:enumeration value="198"/>
			<xs:enumeration value="199"/>
			<xs:enumeration value="200"/>
			<xs:enumeration value="201"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="203"/>
			<xs:enumeration value="204"/>
			<xs:enumeration value="205"/>
			<xs:enumeration value="206"/>
			<xs:enumeration value="207"/>
			<xs:enumeration value="208"/>
			<xs:enumeration value="209"/>
			<xs:enumeration value="210"/>
			<xs:enumeration value="211"/>
			<xs:enumeration value="212"/>
			<xs:enumeration value="213"/>
			<xs:enumeration value="214"/>
			<xs:enumeration value="215"/>
			<xs:enumeration value="216"/>
			<xs:enumeration value="217"/>
			<xs:enumeration value="218"/>
			<xs:enumeration value="219"/>
			<xs:enumeration value="220"/>
			<xs:enumeration value="221"/>
			<xs:enumeration value="222"/>
			<xs:enumeration value="223"/>
			<xs:enumeration value="224"/>
			<xs:enumeration value="225"/>
			<xs:enumeration value="226"/>
			<xs:enumeration value="227"/>
			<xs:enumeration value="228"/>
			<xs:enumeration value="229"/>
			<xs:enumeration value="230"/>
			<xs:enumeration value="231"/>
			<xs:enumeration value="232"/>
			<xs:enumeration value="233"/>
			<xs:enumeration value="234"/>
			<xs:enumeration value="235"/>
			<xs:enumeration value="236"/>
			<xs:enumeration value="237"/>
			<xs:enumeration value="238"/>
			<xs:enumeration value="239"/>
			<xs:enumeration value="240"/>
			<xs:enumeration value="241"/>
			<xs:enumeration value="242"/>
			<xs:enumeration value="243"/>
			<xs:enumeration value="244"/>
			<xs:enumeration value="245"/>
			<xs:enumeration value="246"/>
			<xs:enumeration value="247"/>
			<xs:enumeration value="248"/>
			<xs:enumeration value="249"/>
			<xs:enumeration value="250"/>
			<xs:enumeration value="251"/>
			<xs:enumeration value="252"/>
			<xs:enumeration value="253"/>
			<xs:enumeration value="254"/>
			<xs:enumeration value="255"/>
			<xs:enumeration value="256"/>
			<xs:enumeration value="257"/>
			<xs:enumeration value="258"/>
			<xs:enumeration value="259"/>
			<xs:enumeration value="260"/>
			<xs:enumeration value="261"/>
			<xs:enumeration value="262"/>
			<xs:enumeration value="263"/>
			<xs:enumeration value="264"/>
			<xs:enumeration value="265"/>
			<xs:enumeration value="266"/>
			<xs:enumeration value="267"/>
			<xs:enumeration value="268"/>
			<xs:enumeration value="269"/>
			<xs:enumeration value="270"/>
			<xs:enumeration value="271"/>
			<xs:enumeration value="272"/>
			<xs:enumeration value="273"/>
			<xs:enumeration value="274"/>
			<xs:enumeration value="275"/>
			<xs:enumeration value="276"/>
			<xs:enumeration value="277"/>
			<xs:enumeration value="278"/>
			<xs:enumeration value="279"/>
			<xs:enumeration value="280"/>
			<xs:enumeration value="281"/>
			<xs:enumeration value="282"/>
			<xs:enumeration value="283"/>
			<xs:enumeration value="284"/>
			<xs:enumeration value="285"/>
			<xs:enumeration value="286"/>
			<xs:enumeration value="288"/>
			<xs:enumeration value="290"/>
			<xs:enumeration value="291"/>
			<xs:enumeration value="292"/>
			<xs:enumeration value="293"/>
			<xs:enumeration value="294"/>
			<xs:enumeration value="295"/>
			<xs:enumeration value="296"/>
			<xs:enumeration value="297"/>
			<xs:enumeration value="298"/>
			<xs:enumeration value="299"/>
			<xs:enumeration value="300"/>
			<xs:enumeration value="301"/>
			<xs:enumeration value="302"/>
			<xs:enumeration value="303"/>
			<xs:enumeration value="304"/>
			<xs:enumeration value="310"/>
			<xs:enumeration value="311"/>
			<xs:enumeration value="312"/>
			<xs:enumeration value="313"/>
			<xs:enumeration value="314"/>
			<xs:enumeration value="315"/>
			<xs:enumeration value="316"/>
			<xs:enumeration value="317"/>
			<xs:enumeration value="318"/>
			<xs:enumeration value="319"/>
			<xs:enumeration value="320"/>
			<xs:enumeration value="321"/>
			<xs:enumeration value="322"/>
			<xs:enumeration value="323"/>
			<xs:enumeration value="324"/>
			<xs:enumeration value="325"/>
			<xs:enumeration value="326"/>
			<xs:enumeration value="327"/>
			<xs:enumeration value="328"/>
			<xs:enumeration value="329"/>
			<xs:enumeration value="330"/>
			<xs:enumeration value="331"/>
			<xs:enumeration value="332"/>
			<xs:enumeration value="333"/>
			<xs:enumeration value="334"/>
			<xs:enumeration value="335"/>
			<xs:enumeration value="5463"/>
			<xs:enumeration value="6032"/>
			<xs:enumeration value="10124"/>
			<xs:enumeration value="10125"/>
			<xs:enumeration value="10132"/>
			<xs:enumeration value="10134"/>
			<xs:enumeration value="10135"/>
			<xs:enumeration value="10136"/>
			<xs:enumeration value="10137"/>
			<xs:enumeration value="10138"/>
			<xs:enumeration value="10139"/>
			<xs:enumeration value="10140"/>
			<xs:enumeration value="10141"/>
			<xs:enumeration value="10142"/>
			<xs:enumeration value="10143"/>
			<xs:enumeration value="10144"/>
			<xs:enumeration value="10145"/>
			<xs:enumeration value="10146"/>
			<xs:enumeration value="10147"/>
			<xs:enumeration value="10148"/>
			<xs:enumeration value="10149"/>
			<xs:enumeration value="10150"/>
			<xs:enumeration value="10151"/>
			<xs:enumeration value="10152"/>
			<xs:enumeration value="10153"/>
			<xs:enumeration value="10154"/>
			<xs:enumeration value="10155"/>
			<xs:enumeration value="10156"/>
			<xs:enumeration value="10157"/>
			<xs:enumeration value="10158"/>
			<xs:enumeration value="10159"/>
			<xs:enumeration value="10160"/>
			<xs:enumeration value="10161"/>
			<xs:enumeration value="10162"/>
			<xs:enumeration value="10163"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecurityType_enum_t_ext">
		<xs:union memberTypes="SecurityType_enum_t SecurityType_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityType_t_ext">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SER"/>
			<xs:enumeration value="DPUB"/>
			<xs:enumeration value="SPRD"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="INDX"/>
			<xs:enumeration value="IRD"/>
			<xs:enumeration value="FX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuoteCondition_enum_t_ext_values">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XD"/>
			<xs:enumeration value="CD"/>
			<xs:enumeration value="XDCD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuoteCondition_enum_t_ext">
		<xs:union memberTypes="QuoteCondition_enum_t QuoteCondition_enum_t_ext_values"/>
	</xs:simpleType>
	<xs:simpleType name="Error_enum_t">
		<xs:restriction base="xs:int">
			<xs:enumeration value="-1"/>
			<xs:enumeration value="-2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReservedHPlus">
		<xs:restriction base="char">
			<xs:enumeration value="H"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MDEntryType_enum_t_MI">
		<xs:restriction base="char">
			<xs:enumeration value="a"/>
			<xs:enumeration value="b"/>
			<xs:enumeration value="c"/>
			<xs:enumeration value="d"/>
			<xs:enumeration value="e"/>
			<xs:enumeration value="f"/>
			<xs:enumeration value="g"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="i"/>
			<xs:enumeration value="j"/>
			<xs:enumeration value="k"/>
			<xs:enumeration value="l"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="n"/>
			<xs:enumeration value="o"/>
			<xs:enumeration value="p"/>
			<xs:enumeration value="q"/>
			<xs:enumeration value="X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MDReqRejReason_enum_t_MI">
		<xs:restriction base="char">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettlInstMode_enum_t_ext">
		<xs:union memberTypes="SettlInstMode_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="MDEntryType_enum_t_ext">
		<xs:union memberTypes="MDEntryType_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="MDEntryType_enum_t_ext2">
		<xs:union memberTypes="MDEntryType_enum_t_ext MDEntryType_enum_t_MI"/>
	</xs:simpleType>
	<xs:simpleType name="MDReqRejReason_enum_t_ext">
		<xs:union memberTypes="MDReqRejReason_enum_t MDReqRejReason_enum_t_MI"/>
	</xs:simpleType>
	<xs:simpleType name="AccountType_enum_t_ext">
		<xs:union memberTypes="AccountType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityStatus_enum_t_ext">
		<xs:union memberTypes="SecurityStatus_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="InfoType_t">
		<xs:restriction base="InfoType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PartyRole_enum_t_ext">
		<xs:union memberTypes="PartyRole_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TrdRegTimestampType_enum_t_ext">
		<xs:union memberTypes="TrdRegTimestampType_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="Side_enum_t_ext">
		<xs:union memberTypes="Side_enum_t ReservedHPlus Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="CommType_enum_t_ext">
		<xs:union memberTypes="CommType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TrdSubType_enum_t_ext">
		<xs:union memberTypes="TrdSubType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityIDSource_enum_t_ext">
		<xs:union memberTypes="SecurityIDSource_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TrdType_enum_t_ext">
		<xs:union memberTypes="TrdType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="MiscFeeType_enum_t_ext">
		<xs:union memberTypes="MiscFeeType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="PartySubIDType_enum_t_ext">
		<xs:union memberTypes="PartySubIDType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TimeInForce_enum_t_ext">
		<xs:union memberTypes="TimeInForce_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AllocTransType_enum_t_ext">
		<xs:union memberTypes="AllocTransType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AllocStatus_enum_t_ext">
		<xs:union memberTypes="AllocStatus_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AllocReportType_enum_t_ext">
		<xs:union memberTypes="AllocReportType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AllocType_enum_t_ext">
		<xs:union memberTypes="AllocType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="OrdType_enum_t_ext">
		<xs:union memberTypes="OrdType_enum_t OrdType_enum_ext2 Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="StipulationType_enum_t_ext">
		<xs:union memberTypes="StipulationType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AdvSide_t">
		<xs:restriction base="AdvSide_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AdvTransType_t">
		<xs:restriction base="AdvTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CommType_t">
		<xs:restriction base="CommType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="ExecInst_t">
		<xs:restriction base="ExecInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="HandlInst_t">
		<xs:restriction base="HandlInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="IOIQltyInd_t">
		<xs:restriction base="IOIQltyInd_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="IOIQty_t">
		<xs:restriction base="IOIQty_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="IOITransType_t">
		<xs:restriction base="IOITransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LastCapacity_t">
		<xs:restriction base="LastCapacity_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MsgType_t">
		<xs:restriction base="MsgType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OrdStatus_t">
		<xs:union memberTypes="OrdStatus_enum_t OrdStatus_enum_ext2"/>
	</xs:simpleType>
	<xs:simpleType name="OrdType_t">
		<xs:restriction base="OrdType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="PossDupFlag_t">
		<xs:restriction base="PossDupFlag_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Side_t">
		<xs:restriction base="Side_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="TimeInForce_t">
		<xs:restriction base="TimeInForce_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="Urgency_t">
		<xs:restriction base="Urgency_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlType_t">
		<xs:union memberTypes="SettlType_enum_t Tenor SettlType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="SymbolSfx_t">
		<xs:restriction base="SymbolSfx_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocTransType_t">
		<xs:restriction base="AllocTransType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="PositionEffect_t">
		<xs:restriction base="PositionEffect_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ProcessCode_t">
		<xs:restriction base="ProcessCode_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocStatus_t">
		<xs:restriction base="AllocStatus_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="AllocRejCode_t">
		<xs:restriction base="AllocRejCode_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="EmailType_t">
		<xs:restriction base="EmailType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PossResend_t">
		<xs:restriction base="PossResend_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CxlRejReason_t">
		<xs:union memberTypes="CxlRejReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="OrdRejReason_t">
		<xs:union memberTypes="OrdRejReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="IOIQualifier_t">
		<xs:restriction base="IOIQualifier_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ReportToExch_t">
		<xs:restriction base="ReportToExch_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LocateReqd_t">
		<xs:restriction base="LocateReqd_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ForexReq_t">
		<xs:restriction base="ForexReq_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DKReason_t">
		<xs:restriction base="DKReason_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="IOINaturalFlag_t">
		<xs:restriction base="IOINaturalFlag_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MiscFeeType_t">
		<xs:restriction base="MiscFeeType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="ExecType_t">
		<xs:restriction base="ExecType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlCurrFxRateCalc_t">
		<xs:restriction base="SettlCurrFxRateCalc_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlInstMode_t">
		<xs:restriction base="SettlInstMode_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="SettlInstTransType_t">
		<xs:restriction base="SettlInstTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlInstSource_t">
		<xs:restriction base="SettlInstSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityType_t">
		<xs:restriction base="SecurityType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="StandInstDbType_t">
		<xs:restriction base="StandInstDbType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlDeliveryType_t">
		<xs:restriction base="SettlDeliveryType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocLinkType_t">
		<xs:restriction base="AllocLinkType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CoveredOrUncovered_t">
		<xs:restriction base="CoveredOrUncovered_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="NotifyBrokerOfCredit_t">
		<xs:restriction base="NotifyBrokerOfCredit_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocHandlInst_t">
		<xs:restriction base="AllocHandlInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RoutingType_t">
		<xs:restriction base="RoutingType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BenchmarkCurveName_t">
		<xs:restriction base="BenchmarkCurveName_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="StipulationType_t">
		<xs:restriction base="StipulationType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="YieldType_t">
		<xs:restriction base="YieldType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradedFlatSwitch_t">
		<xs:restriction base="TradedFlatSwitch_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SubscriptionRequestType_t">
		<xs:restriction base="SubscriptionRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDUpdateType_t">
		<xs:restriction base="MDUpdateType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AggregatedBook_t">
		<xs:restriction base="AggregatedBook_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDEntryType_t">
		<xs:restriction base="MDEntryType_enum_t_ext2"/>
	</xs:simpleType>
	<xs:simpleType name="TickDirection_t">
		<xs:restriction base="TickDirection_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteCondition_t">
		<xs:restriction base="QuoteCondition_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="TradeCondition_t">
		<xs:restriction base="TradeCondition_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDUpdateAction_t">
		<xs:restriction base="MDUpdateAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDReqRejReason_t">
		<xs:restriction base="MDReqRejReason_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="DeleteReason_t">
		<xs:restriction base="DeleteReason_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OpenCloseSettlFlag_t">
		<xs:restriction base="OpenCloseSettlFlag_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="FinancialStatus_t">
		<xs:restriction base="FinancialStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CorporateAction_t">
		<xs:restriction base="CorporateAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteStatus_t">
		<xs:restriction base="QuoteStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteCancelType_t">
		<xs:restriction base="QuoteCancelType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteRejectReason_t">
		<xs:union memberTypes="QuoteRejectReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteResponseLevel_t">
		<xs:restriction base="QuoteResponseLevel_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteRequestType_t">
		<xs:restriction base="QuoteRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingSecurityIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingSecurityType_t">
		<xs:restriction base="SecurityType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingSymbolSfx_t">
		<xs:restriction base="SymbolSfx_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityRequestType_t">
		<xs:restriction base="SecurityRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityResponseType_t">
		<xs:restriction base="SecurityResponseType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnsolicitedIndicator_t">
		<xs:restriction base="UnsolicitedIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityTradingStatus_t">
		<xs:restriction base="SecurityTradingStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="HaltReason_t">
		<xs:restriction base="HaltReason_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="InViewOfCommon_t">
		<xs:restriction base="InViewOfCommon_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DueToRelated_t">
		<xs:restriction base="DueToRelated_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Adjustment_t">
		<xs:restriction base="Adjustment_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradSesMethod_t">
		<xs:restriction base="TradSesMethod_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradSesMode_t">
		<xs:restriction base="TradSesMode_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradSesStatus_t">
		<xs:restriction base="TradSesStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteEntryRejectReason_t">
		<xs:union memberTypes="QuoteEntryRejectReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="RefMsgType_t">
		<xs:restriction base="MsgType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BidRequestTransType_t">
		<xs:restriction base="BidRequestTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SolicitedFlag_t">
		<xs:restriction base="SolicitedFlag_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExecRestatementReason_t">
		<xs:union memberTypes="ExecRestatementReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="BusinessRejectReason_t">
		<xs:restriction base="BusinessRejectReason_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DiscretionInst_t">
		<xs:restriction base="DiscretionInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BidType_t">
		<xs:restriction base="BidType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BidDescriptorType_t">
		<xs:restriction base="BidDescriptorType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SideValueInd_t">
		<xs:restriction base="SideValueInd_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LiquidityIndType_t">
		<xs:restriction base="LiquidityIndType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExchangeForPhysical_t">
		<xs:restriction base="ExchangeForPhysical_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ProgRptReqs_t">
		<xs:restriction base="ProgRptReqs_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="IncTaxInd_t">
		<xs:restriction base="IncTaxInd_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BidTradeType_t">
		<xs:restriction base="BidTradeType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BasisPxType_t">
		<xs:restriction base="BasisPxType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PriceType_t">
		<xs:restriction base="PriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="GTBookingInst_t">
		<xs:restriction base="GTBookingInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ListStatusType_t">
		<xs:restriction base="ListStatusType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="NetGrossInd_t">
		<xs:restriction base="NetGrossInd_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ListOrderStatus_t">
		<xs:restriction base="ListOrderStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ListExecInstType_t">
		<xs:restriction base="ListExecInstType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CxlRejResponseTo_t">
		<xs:restriction base="CxlRejResponseTo_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MultiLegReportingType_t">
		<xs:restriction base="MultiLegReportingType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityAltIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingSecurityAltIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Product_t">
		<xs:restriction base="Product_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingProduct_t">
		<xs:restriction base="Product_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuantityType_t">
		<xs:restriction base="QuantityType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RoundingDirection_t">
		<xs:restriction base="RoundingDirection_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DistribPaymentMethod_t">
		<xs:union memberTypes="DistribPaymentMethod_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="CancellationRights_t">
		<xs:restriction base="CancellationRights_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MoneyLaunderingStatus_t">
		<xs:restriction base="MoneyLaunderingStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExecPriceType_t">
		<xs:restriction base="ExecPriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradeReportTransType_t">
		<xs:restriction base="TradeReportTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentMethod_t">
		<xs:union memberTypes="PaymentMethod_enum_t Reserved1000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TaxAdvantageType_t">
		<xs:union memberTypes="TaxAdvantageType_enum_t Reserved1000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="FundRenewWaiv_t">
		<xs:restriction base="FundRenewWaiv_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RegistStatus_t">
		<xs:restriction base="RegistStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RegistRejReasonCode_t">
		<xs:union memberTypes="RegistRejReasonCode_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="RegistTransType_t">
		<xs:restriction base="RegistTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OwnershipType_t">
		<xs:restriction base="OwnershipType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OwnerType_t">
		<xs:restriction base="OwnerType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="NestedPartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OrderCapacity_t">
		<xs:restriction base="OrderCapacity_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OrderRestrictions_t">
		<xs:restriction base="OrderRestrictions_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MassCancelRequestType_t">
		<xs:restriction base="MassCancelRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MassCancelResponse_t">
		<xs:restriction base="MassCancelResponse_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MassCancelRejectReason_t">
		<xs:union memberTypes="MassCancelRejectReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteType_t">
		<xs:restriction base="QuoteType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="NestedPartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="CashMargin_t">
		<xs:restriction base="CashMargin_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Scope_t">
		<xs:restriction base="Scope_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDImplicitDelete_t">
		<xs:restriction base="MDImplicitDelete_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CrossType_t">
		<xs:restriction base="CrossType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CrossPrioritization_t">
		<xs:restriction base="CrossPrioritization_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityListRequestType_t">
		<xs:restriction base="SecurityListRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityRequestResult_t">
		<xs:restriction base="SecurityRequestResult_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MultiLegRptTypeReq_t">
		<xs:restriction base="MultiLegRptTypeReq_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegPositionEffect_t">
		<xs:restriction base="PositionEffect_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegCoveredOrUncovered_t">
		<xs:restriction base="CoveredOrUncovered_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradSesStatusRejReason_t">
		<xs:union memberTypes="TradSesStatusRejReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TradeRequestType_t">
		<xs:restriction base="TradeRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PreviouslyReported_t">
		<xs:restriction base="PreviouslyReported_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MatchStatus_t">
		<xs:restriction base="MatchStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MatchType_t">
		<xs:restriction base="MatchType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OddLot_t">
		<xs:restriction base="OddLot_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ClearingInstruction_t">
		<xs:restriction base="ClearingInstruction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AccountType_t">
		<xs:restriction base="AccountType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="CustOrderCapacity_t">
		<xs:restriction base="CustOrderCapacity_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MassStatusReqType_t">
		<xs:restriction base="MassStatusReqType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegSettlType_t">
		<xs:restriction base="SettlType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DayBookingInst_t">
		<xs:restriction base="DayBookingInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BookingUnit_t">
		<xs:restriction base="BookingUnit_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PreallocMethod_t">
		<xs:restriction base="PreallocMethod_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegSymbolSfx_t">
		<xs:restriction base="SymbolSfx_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegSecurityIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegSecurityAltIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegProduct_t">
		<xs:restriction base="Product_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegSecurityType_t">
		<xs:restriction base="SecurityType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegSide_t">
		<xs:restriction base="Side_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocType_t">
		<xs:restriction base="AllocType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="ClearingFeeIndicator_t">
		<xs:restriction base="ClearingFeeIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="WorkingIndicator_t">
		<xs:restriction base="WorkingIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PriorityIndicator_t">
		<xs:restriction base="PriorityIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegalConfirm_t">
		<xs:restriction base="LegalConfirm_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteRequestRejectReason_t">
		<xs:union memberTypes="QuoteRequestRejectReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AcctIDSource_t">
		<xs:union memberTypes="AcctIDSource_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AllocAcctIDSource_t">
		<xs:restriction base="AcctIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="BenchmarkPriceType_t">
		<xs:restriction base="PriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ConfirmStatus_t">
		<xs:restriction base="ConfirmStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ConfirmTransType_t">
		<xs:restriction base="ConfirmTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryForm_t">
		<xs:restriction base="DeliveryForm_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegBenchmarkCurveName_t">
		<xs:restriction base="BenchmarkCurveName_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegIOIQty_t">
		<xs:restriction base="IOIQty_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegPriceType_t">
		<xs:restriction base="PriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegStipulationType_t">
		<xs:restriction base="StipulationType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="LegSwapType_t">
		<xs:restriction base="LegSwapType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuotePriceType_t">
		<xs:restriction base="QuotePriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteRespType_t">
		<xs:restriction base="QuoteRespType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QuoteQualifier_t">
		<xs:restriction base="IOIQualifier_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="YieldRedemptionPriceType_t">
		<xs:restriction base="PriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosType_t">
		<xs:restriction base="PosType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosQtyStatus_t">
		<xs:restriction base="PosQtyStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosAmtType_t">
		<xs:restriction base="PosAmtType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosTransType_t">
		<xs:restriction base="PosTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosMaintAction_t">
		<xs:restriction base="PosMaintAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlSessID_t">
		<xs:restriction base="SettlSessID_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AdjustmentType_t">
		<xs:restriction base="AdjustmentType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosMaintStatus_t">
		<xs:restriction base="PosMaintStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosMaintResult_t">
		<xs:union memberTypes="PosMaintResult_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="PosReqType_t">
		<xs:restriction base="PosReqType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ResponseTransportType_t">
		<xs:restriction base="ResponseTransportType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PosReqResult_t">
		<xs:union memberTypes="PosReqResult_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="PosReqStatus_t">
		<xs:restriction base="PosReqStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlPriceType_t">
		<xs:restriction base="SettlPriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingSettlPriceType_t">
		<xs:restriction base="SettlPriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AssignmentMethod_t">
		<xs:restriction base="AssignmentMethod_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExerciseMethod_t">
		<xs:restriction base="ExerciseMethod_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradeRequestResult_t">
		<xs:union memberTypes="TradeRequestResult_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="TradeRequestStatus_t">
		<xs:restriction base="TradeRequestStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradeReportRejectReason_t">
		<xs:union memberTypes="TradeReportRejectReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="SideMultiLegReportingType_t">
		<xs:restriction base="SideMultiLegReportingType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Nested2PartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Nested2PartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="BenchmarkSecurityIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TrdRegTimestampType_t">
		<xs:restriction base="TrdRegTimestampType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="ConfirmType_t">
		<xs:restriction base="ConfirmType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ConfirmRejReason_t">
		<xs:union memberTypes="ConfirmRejReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="BookingType_t">
		<xs:restriction base="BookingType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="IndividualAllocRejCode_t">
		<xs:restriction base="AllocRejCode_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocSettlInstType_t">
		<xs:restriction base="AllocSettlInstType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlPartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlPartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="SettlPartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="DlvyInstType_t">
		<xs:restriction base="DlvyInstType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TerminationType_t">
		<xs:restriction base="TerminationType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SettlInstReqRejCode_t">
		<xs:union memberTypes="SettlInstReqRejCode_enum_t Reserved100Plus Error_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocReportType_t">
		<xs:restriction base="AllocReportType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="AllocCancReplaceReason_t">
		<xs:union memberTypes="AllocCancReplaceReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="AllocAccountType_t">
		<xs:restriction base="AllocAccountType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PartySubIDType_t">
		<xs:union memberTypes="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="NestedPartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="Nested2PartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="AllocIntermedReqType_t">
		<xs:restriction base="AllocIntermedReqType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ApplQueueResolution_t">
		<xs:restriction base="ApplQueueResolution_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ApplQueueAction_t">
		<xs:restriction base="ApplQueueAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AvgPxIndicator_t">
		<xs:restriction base="AvgPxIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradeAllocIndicator_t">
		<xs:restriction base="TradeAllocIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExpirationCycle_t">
		<xs:restriction base="ExpirationCycle_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TrdType_t">
		<xs:restriction base="TrdType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="TrdSubType_t">
		<xs:restriction base="TrdSubType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="PegMoveType_t">
		<xs:restriction base="PegMoveType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PegOffsetType_t">
		<xs:restriction base="PegOffsetType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PegLimitType_t">
		<xs:restriction base="PegLimitType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PegRoundDirection_t">
		<xs:restriction base="PegRoundDirection_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PegScope_t">
		<xs:restriction base="PegScope_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DiscretionMoveType_t">
		<xs:restriction base="DiscretionMoveType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DiscretionOffsetType_t">
		<xs:restriction base="DiscretionOffsetType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DiscretionLimitType_t">
		<xs:restriction base="DiscretionLimitType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DiscretionRoundDirection_t">
		<xs:restriction base="DiscretionRoundDirection_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DiscretionScope_t">
		<xs:restriction base="DiscretionScope_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TargetStrategy_t">
		<xs:union memberTypes="TargetStrategy_enum_t Reserved1000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="LastLiquidityInd_t">
		<xs:restriction base="LastLiquidityInd_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PublishTrdIndicator_t">
		<xs:restriction base="PublishTrdIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ShortSaleReason_t">
		<xs:restriction base="ShortSaleReason_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="QtyType_t">
		<xs:restriction base="QtyType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TradeReportType_t">
		<xs:restriction base="TradeReportType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocNoOrdersType_t">
		<xs:restriction base="AllocNoOrdersType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="EventType_t">
		<xs:union memberTypes="EventType_enum_t Reserved100Plus Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="InstrAttribType_t">
		<xs:union memberTypes="InstrAttribType_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="CPProgram_t">
		<xs:union memberTypes="CPProgram_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingStipType_t">
		<xs:restriction base="StipulationType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="MiscFeeBasis_t">
		<xs:restriction base="MiscFeeBasis_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LastFragment_t">
		<xs:restriction base="LastFragment_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollAsgnReason_t">
		<xs:restriction base="CollAsgnReason_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollInquiryQualifier_t">
		<xs:restriction base="CollInquiryQualifier_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollAsgnTransType_t">
		<xs:restriction base="CollAsgnTransType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollAsgnRespType_t">
		<xs:restriction base="CollAsgnRespType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollAsgnRejectReason_t">
		<xs:union memberTypes="CollAsgnRejectReason_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="CollStatus_t">
		<xs:restriction base="CollStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LastRptRequested_t">
		<xs:restriction base="LastRptRequested_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryType_t">
		<xs:restriction base="DeliveryType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UserRequestType_t">
		<xs:restriction base="UserRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UserStatus_t">
		<xs:restriction base="UserStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="StatusValue_t">
		<xs:restriction base="StatusValue_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="NetworkRequestType_t">
		<xs:restriction base="NetworkRequestType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="NetworkStatusResponseType_t">
		<xs:restriction base="NetworkStatusResponseType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TrdRptStatus_t">
		<xs:restriction base="TrdRptStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AffirmStatus_t">
		<xs:restriction base="AffirmStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollAction_t">
		<xs:restriction base="CollAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollInquiryStatus_t">
		<xs:restriction base="CollInquiryStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollInquiryResult_t">
		<xs:union memberTypes="CollInquiryResult_enum_t Reserved100Plus"/>
	</xs:simpleType>
	<xs:simpleType name="Nested3PartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="Nested3PartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="Nested3PartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="StrategyParameterType_t">
		<xs:restriction base="StrategyParameterType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityStatus_t">
		<xs:restriction base="SecurityStatus_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingCashType_t">
		<xs:restriction base="UnderlyingCashType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingSettlementType_t">
		<xs:restriction base="UnderlyingSettlementType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SecurityUpdateAction_t">
		<xs:restriction base="SecurityUpdateAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExpType_t">
		<xs:restriction base="ExpType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="IndividualAllocType_t">
		<xs:restriction base="IndividualAllocType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnitofMeasure_t">
		<xs:restriction base="UnitofMeasure_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TimeUnit_t">
		<xs:restriction base="TimeUnit_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingUnitofMeasure_t">
		<xs:restriction base="UnitofMeasure_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegUnitofMeasure_t">
		<xs:restriction base="UnitofMeasure_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingTimeUnit_t">
		<xs:restriction base="TimeUnit_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LegTimeUnit_t">
		<xs:restriction base="TimeUnit_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocMethod_t">
		<xs:restriction base="AllocMethod_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="SideTrdSubTyp_t">
		<xs:restriction base="SideTrdSubTyp_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AsOfIndicator_t">
		<xs:restriction base="AsOfIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDBookType_t">
		<xs:restriction base="MDBookType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="MDOriginType_t">
		<xs:restriction base="MDOriginType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CustOrderHandlingInst_t">
		<xs:restriction base="CustOrderHandlingInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OrderHandlingInstSource_t">
		<xs:restriction base="OrderHandlingInstSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DeskType_t">
		<xs:restriction base="DeskType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DeskTypeSource_t">
		<xs:restriction base="DeskTypeSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DeskOrderHandlingInst_t">
		<xs:restriction base="DeskOrderHandlingInst_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExecAckStatus_t">
		<xs:restriction base="ExecAckStatus_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="CollApplType_t">
		<xs:restriction base="CollApplType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnderlyingFXRateCalc_t">
		<xs:restriction base="UnderlyingFXRateCalc_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="AllocPositionEffect_t">
		<xs:restriction base="AllocPositionEffect_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="InstrumentPartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="InstrumentPartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="InstrumentPartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="AggressorIndicator_t">
		<xs:restriction base="AggressorIndicator_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UndlyInstrumentPartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="UndlyInstrumentPartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="UndlyInstrumentPartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="MDQuoteType_t">
		<xs:restriction base="MDQuoteType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RefOrderIDSource_t">
		<xs:restriction base="RefOrderIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DisplayWhen_t">
		<xs:restriction base="DisplayWhen_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DisplayMethod_t">
		<xs:restriction base="DisplayMethod_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PriceProtectionScope_t">
		<xs:restriction base="PriceProtectionScope_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="LotType_t">
		<xs:restriction base="LotType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PegPriceType_t">
		<xs:restriction base="PegPriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="PegSecurityIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerType_t">
		<xs:restriction base="TriggerType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerAction_t">
		<xs:restriction base="TriggerAction_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerSecurityIDSource_t">
		<xs:restriction base="SecurityIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerPriceType_t">
		<xs:restriction base="TriggerPriceType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerPriceTypeScope_t">
		<xs:restriction base="TriggerPriceTypeScope_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerPriceDirection_t">
		<xs:restriction base="TriggerPriceDirection_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="TriggerOrderType_t">
		<xs:restriction base="TriggerOrderType_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OrderCategory_t">
		<xs:restriction base="OrderCategory_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RootPartyIDSource_t">
		<xs:restriction base="PartyIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RootPartyRole_t">
		<xs:restriction base="PartyRole_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="RootPartySubIDType_t">
		<xs:restriction base="PartySubIDType_enum_t_ext"/>
	</xs:simpleType>
	<xs:simpleType name="TradeHandlingInstr_t">
		<xs:restriction base="TradeHandlingInstr_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="OrigTradeHandlingInstr_t">
		<xs:restriction base="TradeHandlingInstr_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ApplVerID_t">
		<xs:restriction base="ApplVerID_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="RefApplVerID_t">
		<xs:restriction base="ApplVerID_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ExDestinationIDSource_t">
		<xs:restriction base="ExDestinationIDSource_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="DefaultApplVerID_t">
		<xs:restriction base="ApplVerID_enum_t"/>
	</xs:simpleType>
	<xs:simpleType name="ContAmtType_t">
		<xs:union memberTypes="ContAmtType_enum_t Reserved4000Plus"/>
	</xs:simpleType>
	<xs:simpleType name="NewsType_t">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NewsCode_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>